{% extends "mobile/base.html" %}
{% block content %}
<div class="flex flex-row items-center justify-center">
    <span class="text-2xl font-bold">About</span>
</div>
<div class="flex flex-row items-center justify-center">
    <div class="w-64 p-4 m-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">
        <p class="text-xl font-bold">Earthquakes in Turkey</p>
        <p class="text-xl font-bold">Version 1.0</p>
        <p class="text-xl font-bold">Developed by</p>
        <p class="text-xl font-bold">Muhtalip Dede</p>
        <p class="text-xl font-bold">2024</p>
    </div>
</div>
{% endblock %}