{% extends "mobile/base.html" %}
{% block content %}
<div class="flex flex-row items-center justify-center">
    <span class="text-2xl font-bold">Last {{ last_day }} Days</span>
</div>
{{ magnitude_map | safe }}
<div class="flex flex-row items-center justify-center">
    <input type="text" id="day-count" placeholder="Day Count"
        class="w-64 p-4 m-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">
    <button class="w-64 p-4 m-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700" id="earthquake-submit">
        Submit
    </button>
</div>
{% endblock %}