<meta charset="UTF-8">
<title>Earthquake</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Earthquake is a web application that shows earthquake data on a map.">
<meta name="author" content="Muhtalip Dede">
<meta name="keywords" content="earthquake, map, data, visualization, web application, python, flask, leaflet, geojson, usgs, population, building, about">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QQRMJFV6QQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QQRMJFV6QQ');
</script>