<!-- index home page for mobile -->
{% extends "mobile/base.html" %}
{% block content %}
<div class="flex flex-col items-center h-screen">
    <span class="text-2xl font-bold text-center">
        Last Earthquake in Turkey
    </span>
    <span class="text-xl font-bold text-center">
        {{ date | safe }}
    </span>
    <span class="text-xl font-bold text-center">
        {{ address | safe }}
    </span>
    <span class="text-xl font-bold text-center">
        {{ magnitude | safe }}
        {{ dept | safe }}
    </span>
    {{ magnitude_map | safe }}
    <a href="/earthquake"
        class="w-64 p-4 m-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">Earthquakes</a>
    <a href="/3d_earthquake" class="w-64 p-4 m-2 text-center text-white bg-blue-500 rounded-md hover:bg-blue-700">3D
        Earthquakes</a>
</div>
{% endblock %}