{% extends "base.html" %}
{% block content %}
<div class="grid">
    <div class="grid-item">
        <p>Total Buildings</p>
        {{ total_building_map | safe }}
    </div>
    <div class="grid-item">
        <p>Before 1980</p>
        {{ before_1980_map | safe }}
    </div>
    <div class="grid-item">
        <p>Between 1980-2000</p>
        {{ between_1980_2000_map | safe }}
    </div>
    <div class="grid-item">
        <p>After 2000</p>
        {{ after_2000_map | safe }}
    </div>
    <div class="grid-item">
        <p>Unknown</p>
        {{ unknown_map | safe }}
    </div>
</div>
{% endblock %}